# Mac
.DS_Store

# Go
vendor
rainbow.db

# Test binaries
*.test
tmp

# Python
__pycache__
rainbow_scheduler.egg-info
.eggs
env
python/v1/build
python/v1/dist

# Coverage
*.out

# Binaries
bin
dist

# Keys
cosign.*
*.pem

# ko
/.digest

# Terraform
*.tfstate
*.tfvars
*.hcl
.terraform
*.backup
